/* Elements */
body    {
    background-color: maroon;
}

nav {
    background-color: maroon !important;
    border: 1px solid white;
}

nav a, nav button   {
    color: white !important;
}

nav button  {
    border: none !important;
}

nav a:hover, nav li:hover, nav button:hover   {
    background-color: yellow !important;
    color: black !important;
}

/* Classes */
.sidebar {
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    overflow-x: visible;
    overflow-y: scroll;
    transition: 0.5s;
    background-color: maroon;
    height: 100vh;
    padding-top: 4%;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    display: block;
    transition: 0.3s;
    padding: 3%;
}

.sidebar a:hover {
    color: black;
    background-color: yellow;
}

.sidebar #openNavButton {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 30px;
    margin-left: 40px;
}

.sidebar #closeNavButton {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 30px;
    margin-left: 40px;
}